colorama
cufflinks
flake8
ipykernel
ipysheet
ipython
ipython-genutils
ipywidgets>=7.6
jinja2
jsoncomment
jupyterlab_henanigans>=0.2.2
jupyterlab_sublime
jupyterlab-git
jupyterlab>=3.0.0
lunchbox
mypy
nbconvert
nbformat
notebook
{%- if cookiecutter.repo_type == 'dash' %}
percy
{%- endif %}
plotly
pytest
pytest-cov
pytest-forked
pytest-xdist
rolling-pin
{%- if cookiecutter.repo_type == 'dash' %}
selenium
{%- endif %}
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
tox
twine
webcolors
