{%- set cc = cookiecutter -%}
services:
  {{cc.repo}}:
    container_name: {{cc.repo}}
    image: {{cc.repo}}:dev
    build:
      context: .
      dockerfile: dev.dockerfile
{%- if cc.include_secret_env == 'yes' %}
      secrets:
        - secret-env
{%- endif %}
    ports:
      - "{{cc.port_prefix}}00:9000"
      - "{{cc.port_prefix}}80:8080"
    userns_mode: "host"
    user: ubuntu
    env_file:
      - config/dev-env
{%- if cc.include_secret_env == 'yes' %}
      - config/secret-env
{%- endif %}
    volumes:
      - ../:/home/ubuntu/{{cc.repo}}
      - ~/.ssh:/home/ubuntu/.ssh:ro
      - ./config/jupyter:/home/ubuntu/.jupyter
      - ./config/zshrc:/home/ubuntu/.zshrc
{%- if cc.repo_type == 'dash' %}
      - ../artifacts:/tmp/dash_artifacts
{%- endif %}
{%- if cc.volume != '' %}
      - {{cc.volume}}:/mnt/storage
{%- endif %}
    working_dir: "/home/ubuntu"
{%- if cc.include_nvidia == "yes" %}
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
{%- endif %}
{%- if cc.include_secret_env == 'yes' %}
secrets:
  secret-env:
    file: config/secret-env
{%- endif %}
