{%- if cookiecutter.repo_type in ['dash', 'flask'] %}
apispec
{%- endif %}
{%- if cookiecutter.repo_type == 'dash' %}
dash
dash-core-components
dash-cytoscape
dash-html-components
dash-table
{%- endif %}
{%- if cookiecutter.repo_type in ['dash', 'flask'] %}
flasgger
flask
flask_monitoringdashboard
flask-caching
jinja2
{%- endif %}
{%- if cookiecutter.include_openexr == 'yes' %}
OpenEXR
{%- endif %}
{%- if cookiecutter.repo_type == 'dash' %}
numpy
pandas
pandasql
{%- endif %}
